{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/app": "./src/app",
          "@/pages": "./src/pages",
          "@/features": "./src/features",
          "@/helper": "./src/helper",
          "@/types": "./src/types",
          "@/hooks": "./src/hooks",
          "@/routes": "./src/routes",
          "@/components": "./src/components",
          "@/assets": "./src/assets",
          "@/layout": "./src/layout"
        }
      }
    ]
  ]
}