{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          // "@/assets": "./src/assets",
          // "@/components": "./src/components",
          // "@/docs": "./src/docs",
          // "@/features": "./src/features",
          // "@/hooks": "./src/hooks",
          // "@/helpers": "./src/helpers",
          // "@/interfaces": "./src/interfaces",
          // "@/layouts": "./src/layouts",
          // "@/mock": "./src/mock",
          // "@/mobile": "./src/mobile",
          // "@/modules": "./src/modules",
          // "@/routes": "./src/routes",
          // "@/services": "./src/services",
          // "@/store": "./src/store",
          // "@/translations": "./src/translations",
          // "@/tests": "./src/tests"
        }
      }
    ]
  ]
}